@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8; 
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("hero2.jpg");
  min-height: 100%;
  
}

.slogan{
  font-family: 'Cormorant-Garamond', serif;
  font-weight: 900;
}

.ic-sosmed {
  padding-right: 5px!important;
  padding-left: 5px!important;
  
}

.resto-right {
  padding-right: 2%;
  
}

.ic-menu-hp{
  margin-top:7%;
  
}

.resto-bar .resto-button {
  padding: 16px;
  font-family: 'Cormorant Garamond', sans-serif;
}

.resto-top {
  background-color: #fdf0e6;
  font-family: 'Cormorant Garamond', sans-serif;
}

.bg-coklat {
  background-color: #aa9674;
  font-family: 'Cormorant Garamond', sans-serif;
}

.bg-pink {
  background-color: #fdf0e6;
  font-family: 'Cormorant Garamond', serif;
}

.slogan {
  padding: 12%;
  font-family: 'Cormorant Garamond', serif;
}

.resto-col {
  font-family: 'Cormorant Garamond', serif;
}

footer .resto-container{
  /* height: auto; */
  padding: 10%;
  background-color: #fdf0e6;
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
}

footer p{
  text-align: left;
  line-height: 80%;
  font-family: 'Cormorant Garamond', serif;
}

footer h3{
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
}